*{margin: 0; padding: 0; box-sizing: border-box;}


.App{ padding: 20px 0; box-sizing: border-box; }
h1{text-align: center; margin-bottom: 20px; color: rgb(104, 104, 104);margin-bottom: 10px;}
.movie{border:3px solid #ddd; border-radius: 10px; padding: 15px 10px; display: flex; align-items: center; margin-bottom: 5px;}
.movie-title{flex-grow: 1;}
.pd{padding: 0 30px;height: 800px;}
.movie-year{font-size: 12px; color: rgb(247, 118, 118)}
input{width: 100%; padding: 10px 20px; box-sizing: border-box; margin-bottom: 5px;border-radius: 5px; border: 1px solid rgb(247, 118, 118);}
.btn{width: 100%; padding: 15px 0; background:  rgb(247, 118, 118); border: none; outline: none; margin-bottom: 20px; color: #fff; border-radius: 5px;}
.d-btn{padding: 5px 20px;background: rgba(255, 118, 118, 0.5);border: none;outline: none;color: #fff;border-radius: 5px;}
.navbar{display: flex;}
.navbar h1{}
.navbar .navbar-nav{display: flex;justify-content: space-between;list-style:none;}
.navbar .navbar-nav li{}
.navbar .navbar-nav li a{color: #333;text-decoration: none;}
.movie-wrap{}
.err{font-size: 10px;color: rgb(255, 121, 91);margin-bottom: 5px;}


.footer{width: 100%;height: auto;background: #333;position: fixed;bottom: 0;right: 0;}
.innerFooter{color: #fff;padding: 30px 0;width: 100%;max-width: 1200px;margin: 0 auto;display: flex;justify-content: space-between;}
.innerFooter ul{display: flex;}
.innerFooter ul li{margin: 0 10px;}
.bg{width: 100%;height: 500px;background-image:linear-gradient (to top,rgb(211, 128, 128), #fff, rgb(160, 252, 255));display: flex;align-items: center;justify-content: center;font-size: 5rem;color: #fff;text-shadow: 2px 2px 5px #333;}
#section1{width: 100%;height: 300px;background: #ccc;margin-bottom: 5px;}
#section2{width: 100%;height: 200px;background: #ddd;margin-bottom: 5px;}
.container{width: 1200px;height: inherit;background: rgba(255, 255, 255, .98);margin: 0 auto;}
.card{border: 1px solid #ddd;padding: 30px 20px;margin-bottom: 5px;border-radius: 5px;}
.card-body{}

@media screen and (max-width:1200px){
    .container{width: 100%;padding: 0 30px;}
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
